@model IEnumerable<XIT.EF.Dal.StuInfo>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <p>
        @Html.ActionLink("添加", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StuID)
            </th>
<<<<<<< HEAD
=======
            @*<th>
                    @Html.DisplayNameFor(model => model.LogID)
                </th>*@
>>>>>>> c8274cc525eefc422d66f481da2684ba6f630acb
            <th>
                @Html.DisplayNameFor(model => model.LogID)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LoginInfo.LogNum)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StuSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuAdmintime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuGradtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th></th>
        </tr>
<<<<<<< HEAD
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StuID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogID)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LoginInfo.LogNum)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StuSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuAdmintime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuGradtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaID)
            </td>
=======
>>>>>>> c8274cc525eefc422d66f481da2684ba6f630acb

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StuID)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.LogID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.LoginInfo.LogNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuAdmintime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuGradtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassInfo.ClaName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    @Html.ActionLink("添加", "Create", new { id = item.StuID }) |
                    @Html.ActionLink("详细信息", "Details", new { id = item.StuID }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.StuID })
                    @Html.ActionLink("修改", "Edit", new { id = item.StuID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
